*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.gridcontainer{
    height: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 3px;
    grid-template-areas: 
        "n n n n n p p h h h"
        "p1 p1 p1 p2 p3 p3 p3 p4 p5 p5";

}

#canvas1 {
    position: absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    background: radial-gradient(#ffc38c,#ff9b40);
    z-index: -1;
}

#name{
    text-align: right;
    font-family: 'Indie Flower', cursive;
    color:white;
    font-size:80px;
    margin-top: 60px;

}

#picture{
    width:10em;
    height:15em;

}

#project1{
    width:20em;
    height:20em;

}


.name{
    grid-area: n;
}

.photo{
    grid-area: p;

}

.about{
    grid-area:h;
    background-color: chocolate;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
}

.project1{
    grid-area :p1;
    text-align: center;
}

.project2{
    grid-area:p3;
    text-align: center;
}

#project23{
    width:28em;
    height:20em;
}

h1{
    font-family: 'Indie Flower', cursive;
    color:white;
}
p{
    text-align: center;
}
a:hover{
    background-color:red;
}
